body{
  background: black;

}

.icons{
  padding-right: 10px;
  width: 30px;
  height: 30px;
}
ul{
  list-style: none;
  margin: 25px 50px 75px 30px
}

li.main-list{
  padding: 25px;
  border-bottom: solid 3px white;
  font-size: larger
}

.whole-page{
  padding: 25px;
  text-align: center;
  background: black;
  color: white;
}