/* Sidebar.css */
.sideNav {
    height:100%;
    width:25%;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    overflow-y:scroll;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: aliceblue;
  }
  
 
  