@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ebebae;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #f0f8ff;
  padding: 20px;
}

h1 {
  color: #006400;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.flashcards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation{
  display: flex;
  justify-content: space-evenly;
  align-items: space-between;
  gap: 20px;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button {
  padding: 10px 10px;
  font-size: 1rem;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004d00;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-question,
.card-answer {
  font-size: 1.5rem;
  margin: 10px;
  color: #333;
}

/* New CSS for the input field, streaks, and mastered flashcards */
input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.streaks {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

.streaks p {
  margin: 5px 0;
}

.mastered-flashcards {
  margin-top: 30px;
  width: 100%;
}

.mastered-flashcards h2 {
  color: #006400;
}

.mastered-flashcards ul {
  list-style-type: none;
  padding: 0;
}

.mastered-flashcards li {
  padding: 10px;
  margin: 5px;
  background-color: #f0f8ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  color: black;
}

.card.mastered .card-question, .card.mastered .card-answer {
  color: black;
}
/* Adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .navigation-buttons {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
  }

  .card {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .card-question,
  .card-answer {
    font-size: 1.2rem;
  }

  .streaks {
    font-size: 1rem;
  }

  input[type="text"] {
    font-size: 0.9rem;
  }

  .mastered-flashcards li {
    font-size: 1rem;
  }
}